.container-loading{
  width: 900px;
  height: 100vh;
  margin: auto;
  background-image: url('https://images.hive.blog/0x0/https://cdn.steemitimages.com/DQmfVaWEkeYG8yfDA4iUXeQgb76rfeJa182oVgrsqXG4gBW/LOADINGPUB.gif');
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .6);
  background-repeat: no-repeat;
}
