.container-error{
    font-family: 'Montserrat', sans-serif;
    width: 900px;
    height: 500px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRPDsCH-nmnfLsrqD4xCGgWNDSYDTKEr-bCA&usqp=CAU');
    border-radius: 15px;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .6);
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-error{
    height: 100px;
    width: 200px;
    background: black; /* color de fondo */
    color: white; /* color de fuente */
    font-size: x-large;
    border: 2px solid white; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    }
    .btn-error:hover {
    color: black;/* color de fuente hover */
    }
    .btn-error::after {
    content: "";
    background: white; /* color de fondo hover */
    border: 2px solid black;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
    transition: all 0.3s ease;
    }
    .btn-error:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1);
    }