:root{
    --cinco : #77e6f2;
    --cuatro: #419bbf;
    --tres:#2f3973;
    --dos:#8c55d9;
    --uno:#5503A6;
    --light-text:#fff;
    --dark-text:#000;
    --font-titles:'Press Start 2P', cursive;
    --font-text: 'Gruppo', cursive;
  }

.container-form{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    overflow: hidden;
}

.container-create{
width: 80%;
text-align: center;
display: flex;
flex-direction: column;
background-color: white;
}




