*{
  margin: 0;
}

:root{
  --cinco : #77e6f2;
  --cuatro: #419bbf;
  --tres:#2f3973;
  --dos:#8c55d9;
  --uno:#5503A6;
  --light-text:#fff;
  --dark-text:#000;
  --font-titles:'Press Start 2P', cursive;
  --font-text: 'Gruppo', cursive;
}

.container{
  margin: 0;
  padding: 0;
  background-image: url('../images/Seamless_Hexagonal_Stone_Texture_Paving_2.jpg');
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
  
  .container-detail{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: inline-block;
    overflow: hidden;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
  
  .container-detail .link-home{
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 5;
  }

  .container-detail .link-home .icon-arrow{
    width: 50px;
    height: 50px;
    background-color: var(--cinco);
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    transform: rotate(180deg);
    box-shadow: -5px -5px 10px rgba(0, 0, 0, .9);
  }
  
  .container-detail .link-home .icon-arrow path{
    fill: #000;
  }
  
  .link-home .icon-arrow:hover{
    background-color: var(--cuatro);
    box-shadow: none;
  }

  .container-detail .link-home .icon-arrow:hover > path{
    fill: #fff;
  }

  .container-detail .image {
    margin: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(40%);
  }


 .container-detail section {
   z-index: 2;
   width: 100%;
    color: #fff;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
  .container-detail section h2{
    font-family: var(--font-titles);
  }

  .container-detail .container-genres{
    font-family: var(--font-text);
    font-size: 25px;
    font-weight: 900;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .container-detail .rating{
    font-family: var(--font-text);
    font-size: 20px;
  }
  .container-detail .description{
    font-family: var(--font-text);
    padding: 30px;
    font-size: 20px;
  }
  
  .container-detail .relasedate{
    font-family: var(--font-text);
    font-weight: 800;
  }
  .footer {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

.footer p{
    font-family: var(--font-text);
}

@media (max-width:650px){
  .container-detail .description{
    padding: 5px;
    font-size: 15px;
  }
  .footer {
    padding: 5px;
    gap: 5px;
  }
  .container-detail .link-home .icon-arrow{
    width: 30px;
    height: 30px;
    padding: 5px 10px 5px 10px;
  }
  .container-detail .link-home{
    top: 2%;
    left: 5%;
  }
}