.container-filters{
    padding: 12px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--uno);
    /* transition: all 400ms ease-out; */
}

@media(max-width:650px){
    .container-filters{
        flex-direction: column;
        gap: 10px;
    }
}