:root{
    --cinco : #77e6f2;
    --cuatro: #419bbf;
    --tres:#2f3973;
    --dos:#8c55d9;
    --uno:#5503A6;
    --light-text:#fff;
    --dark-text:#000;
    --font-titles:'Press Start 2P', cursive;
    --font-text: 'Gruppo', cursive;
}

.pagination{
    padding-top: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-prev{
    text-decoration: none;
    color: var(--dark-text);
    cursor: pointer;
    background-color: var(--cinco);
    font-family: var(--font-text);
    font-weight: 800;
    font-size: 20px;
    padding: 5px;
    border: none;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .9);
    border-radius: 15px 0px 0px 15px;
}

.button-prev:hover{
    color: var(--light-text);
    background-color: var(--cuatro);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .9);    
    }
.button-next{
    text-decoration: none;
    color: var(--dark-text);
    cursor: pointer;
    background-color: var(--cinco);
    font-family: var(--font-text);
    font-weight: 800;
    font-size: 20px;
    padding: 5px;
    border: none;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .9);
    border-radius: 0px 15px 15px 0px;
}

.button-next:hover{
    color: var(--light-text);
    background-color: var(--cuatro);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .9);
    }

.btn-pages{
    text-decoration: none;
    color: var(--light-text);
    background-color: var(--cuatro);
    border: none;
    padding: 5px;
    border-radius: 50%;
    font-family: var(--font-titles);
    margin: 4px;
}

.btn-pages:hover{
    color: var(--dark-text);
    background-color: var(--cinco);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .9);  
}

.active {
    background-color: var(--cinco);
    color: var(--dark-text);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .9); 
}